<%= turbo_frame_tag :moves do %>
  <section class="modal" data-turbo-temporary>
    <%= link_to '', :back, class: 'back' %>
    <ul class="moves">
      <%= render @moves.order(created_at: :asc) %>
    </ul>
  </section>
<% end %>
