<main class="new-player">
  <h1>Tic-Tac-Turbo</h1>

  <%= form_with model: @player do |f| %>
    <%= f.text_field :name, placeholder: 'Name', autofocus: true %>

    <%= f.button 'Play' %>
  <% end %>
</main>
