main.games {
  padding: $space-default;

  button.new-game {
    @include bordered;
    width: 100%;
    border-radius: $border-radius - $border-width;
  }

  ul {
    @include bordered($radius: $border-radius-big);
    min-height: 4rem;
    padding: $space-big;
    display: flex;
    flex-direction: column;
    gap: $space-big;

    li {
      @include bordered;
      display: grid;
      grid-template-columns: 1fr auto;

      a, button {
        height: 100%;
      }

      .game-link {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        justify-items: center;
        align-items: center;
        border-top-left-radius: $border-radius - $border-width;
        border-bottom-left-radius: $border-radius - $border-width;
        padding: $space-default;

        &:hover {
          background-color: $hilight-color;
        }

        &:last-child {
          border-top-right-radius: $border-radius - $border-width;
          border-bottom-right-radius: $border-radius - $border-width;
        }

        .players {
          display: flex;
          flex-direction: column;
          gap: $space-default;
          justify-self: start;
        }

        .status {
          font-weight: bold;
        }

        img.c {
          height: 100%;
          width: auto;
          justify-self: end;
        }
      }

      &.waiting {
        .status {
          visibility: hidden;
        }
      }

      .join-button {
        border-left: $border-width solid $border-color;
        border-top-right-radius: $border-radius - $border-width;
        border-bottom-right-radius: $border-radius - $border-width;
      }
    }

    li.no-games {
      @include bordered($style: dashed);
      content: 'No games';
      font-style: italic;
      font-weight: 900;
      text-align: center;
      padding: $space-big;
      color: $border-color;
    }

    li.skeleton {
      border: none;
      height: 4rem;
      background:
        linear-gradient(to right, transparent, transparent, $hilight-text-color, transparent, transparent),
        linear-gradient($border-color, $border-color);
      cursor: progress;
      background-repeat: no-repeat;
      background-size: 32rem 4rem, 32rem 4rem;
      background-position: -32rem 0, 0 0;
      animation: skeleton 1.5s infinite;
    }
  }
}

@keyframes skeleton {
  0% {
    background-position: -32rem 0, 0 0;
  }
  100% {
    background-position: 32rem 0, 0 0;
  }
}
