main.new-player {
  height: 100%;
  display: grid;
  justify-items: center;
  padding: $space-default;

  h1 {
    margin: auto;
    font-size: $font-size-fat;
  }

  form {
    @include bordered;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 1fr auto;

    input {
      color: $hilight-text-color;
      font-size: $font-size-big;
      border-top-left-radius: $border-radius - $border-width;
      border-bottom-left-radius: $border-radius - $border-width;
      min-width: 0;

      &::placeholder {
        font-style: italic;
        color: $border-color;
      }
    }

    button {
      border-left: $border-width solid $border-color;
      border-top-right-radius: $border-radius - $border-width;
      border-bottom-right-radius: $border-radius - $border-width;
    }
  }
}
